@model List<Ingredience>

<div>
    <h2>Vilka ingredienser skall <b><u>@ViewData["DishName"]</u></b> innehålla?</h2>
    <ul>
        <form asp-controller="Home" asp-action="Update">
            <input type="hidden" name="id" value="@ViewData["DishId"]" method="post" />

            @foreach (var item in Model)
            {
                <h3>
                    <input type="checkbox" name="ingredienceIDs" value="@item.Id" @((item.Dishes?.Any(d => d.Id == (int)ViewData["DishId"])) == true ? "checked" : "")> @item.Name

                </h3>
            }

            <button type="submit">Uppdatera</button>
        </form>
    </ul>

</div>